aiofiles==23.2.1
aiohttp 
aiosignal 
alabaster 
anaconda-client 
# anaconda-navigator==2.3.0
# anaconda-project 
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
# applaunchservices 
# appnope 
# appscript 
argon2-cffi 
argon2-cffi-bindings
arrow 
astroid
astropy 
asttokens 
asyncer
async-timeout 
atomicwrites==1.4.0
attrs 
Automat 
autopep8
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4 
binaryornot
bitarray 
bkcharts==0.2
black==19.10b0
bleach
bokeh
boto3 
botocore 
Bottleneck 
brotlipy==0.7.0
cachetools 
certifi==2021.10.8
cffi 
chardet 
charset-normalizer
click 
cloudpickle 
# clyent==1.2.1
colorama 
colorcet
coloredlogs==15.0.1
constantly==15.1.0
cookiecutter
cryptography 
cssselect==1.1.0
cycler 
Cython 
# cytoolz==0.11.0
daal4py==2021.5.0
dask 
datashader 
# datashape==0.5.4
debugpy 
decorator 
defusedxml 
diff-match-patch 
distributed 
docutils 
entrypoints 
et-xmlfile==1.1.0
exceptiongroup==1.3.0
executing
fastapi==0.115.12
fastjsonschema 
ffmpy==0.5.0
filelock
filetype==1.2.0
flake8 
Flask 
flatbuffers==25.2.10
fonttools==4.25.0
frozendict==2.4.2
frozenlist 
fsspec==2025.5.1
future 
gensim 
glob2 
gmpy2 
google-api-core 
google-auth 
google-cloud-core 
google-cloud-storage 
google-crc32c 
google-resumable-media 
googleapis-common-protos 
gradio==4.44.1
gradio_client==1.3.0
greenlet 
grpcio
h11==0.16.0
h5py 
HeapDict
hf-xet==1.1.2
holoviews 
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.2
humanfriendly==10.0
hvplot 
hyperlink 
idna
imagecodecs 
imageio
imagesize 
importlib-metadata 
importlib_resources==6.5.2
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree
ipykernel 
ipython 
ipython-genutils 
ipywidgets
isort 
itemadapter
itemloaders 
itsdangerous
jdcal 
jedi 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonschema 
# jupyter 
# jupyter-client 
# jupyter-console 
# jupyter-core 
# jupyter-server 
# jupyterlab 
# jupyterlab-pygments
# jupyterlab-server
# jupyterlab-widgets 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
llvmlite==0.43.0
locket
lxml==5.2.1
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplotlib 
matplotlib-inline 
mccabe==0.6.1
mdurl==0.1.2
mistune 
mock 
mpmath==1.2.1
msgpack
multidict 
multipledispatch
multitasking==0.0.11
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk
nose 
notebook
numba==0.60.0
numexpr
numpy==1.26.4
numpydoc
olefile
onnxruntime==1.19.2
opencv-python-headless==4.11.0.86
openpyxl
orjson==3.10.18
packaging
panel 
param 
parsel 
parso 
partd 
pathspec==0.7.0
patsy==0.5.2
peewee==3.17.1
pep8==1.7.1
pexpect
pickleshare 
# Pillow==9.0.1
pkginfo
platformdirs==4.2.2
plotly 
pluggy 
pooch==1.8.2
poyo 
prometheus-client 
prompt-toolkit 
Protego
protobuf==3.19.1
psutil 
ptyprocess 
pure-eval 
py 
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pyct 
pycurl
pydantic==2.11.5
pydantic_core==2.33.2
PyDispatcher==2.0.5
pydocstyle 
pydub==0.25.1
pyerfa 
pyflakes
Pygments==2.19.1
PyHamcrest 
PyJWT 
pylint
pyls-spyder==0.4.0
PyMatting==1.1.14
# pyodbc 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==7.1.1
python-dateutil 
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-multipart==0.0.20
python-slugify 
python-snappy 
pytz==2024.1
pyviz-comms 
PyWavelets 
# PyYAML==6.0
pyzmq 
# QDarkStyle
# qstylizer 
# QtAwesome 
# qtconsole 
# QtPy 
queuelib==1.5.0
regex 
rembg==2.0.61
requests==2.31.0
requests-file
rich==14.0.0
rope 
rsa 
Rtree 
# ruamel-yaml-conda 
ruff==0.11.11
s3transfer 
#scikit-image
#scikit-learn 
#scikit-learn-intelex==2021.20220215.132722
#scipy
Scrapy 
seaborn 
semantic-version==2.10.0
Send2Trash
service-identity 
shellingham==1.5.4
# sip==4.19.13
six 
smart-open 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
#spyder 
#spyder-kernels
SQLAlchemy
stack-data
starlette==0.46.2
statsmodels
sympy
tables 
tabulate==0.8.9
#TBB==0.2
tblib
tenacity
terminado 
testpath 
text-unidecode 
textdistance
threadpoolctl 
three-merge 
tifffile 
tinycss 
tldextract 
toml 
tomli 
tomlkit==0.12.0
toolz
tornado
traitlets
Twisted
typed-ast 
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
ujson 
Unidecode 
urllib3==2.4.0
uvicorn==0.34.2
w3lib 
watchdog
# wavy==1.0.1
wcwidth 
webencodings==0.5.1
websocket-client
websockets==12.0
Werkzeug
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
# xlwings==0.24.9
yapf
yarl 
yfinance==0.2.41
zict==2.0.0
zipp 
zope.interface
